<div class="row mt-3">
    <div class="col-md-2">
        <h3 class="ml-2">後台管理</h3>
        <ul class="list-group">
            <li class="list-group-item m-0"><a href="/admin/products">商品列表</a></li>
            <li class="list-group-item m-0"><a href="/admin/orders">訂單列表</a></li>
            <li class="list-group-item m-0"><a href="/admin/authority">權限管理</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        {{> message}}
        <table class="table table-primary table-striped">
            <thead>
            <tr>
                <th scope="col" class="text-center">Id</th>
                <th scope="col" class="text-center">流水號</th>
                <th scope="col" class="text-center">名字</th>
                <th scope="col" class="text-center">價錢</th>
                <th scope="col" class="text-center">出貨狀態</th>
                <th scope="col" class="text-center">付款狀態</th>
                <th scope="col" class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {{#each orders}}
                <tr style="height: 80px">
                    <td class="text-center align-middle">{{this.id}}</td>
                    <td class="text-center align-middle">{{this.sn}}</td>
                    <td class="text-center align-middle">{{this.name}}</td>
                    <td class="text-center align-middle">{{this.amount}}</td>
                    <td class="text-center align-middle">
                        {{#equal this.shipping_status '1'}}已出貨{{/equal}}
                        {{#equal this.shipping_status '0'}}未出貨{{/equal}}
                        {{#equal this.shipping_status '-1'}}已取消{{/equal}}
                    </td>
                    <td class="text-center align-middle">
                        {{#equal this.payment_status '1'}}已付款{{/equal}}
                        {{#equal this.payment_status '0'}}未付款{{/equal}}
                    </td>
                    <td class="text-center align-middle">
                        <a href="/admin/orders/{{this.id}}" class="btn btn-info">詳細內容</a>
                        <form action="/admin/orders/{{this.id}}/ship" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-success" onclick="return confirmShip()"
                                {{#equal this.shipping_status '1'}}disabled{{/equal}}
                                {{#equal this.shipping_status '-1'}}disabled{{/equal}}
                            >訂單出貨</button>
                        </form>
                        {{#equal this.shipping_status '-1'}}
                            <form action="/admin/orders/{{this.id}}/recover" method="POST" class="d-inline">
                                <button type="submit" class="btn btn-primary" onclick="return confirmRecover()">恢復訂單</button>
                            </form>
                        {{else}}
                            <form action="/admin/orders/{{this.id}}/cancel" method="POST" class="d-inline">
                                <button type="submit" class="btn btn-warning" onclick="return confirmCancel()">訂單取消</button>
                            </form>
                        {{/equal}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
