<div class="row mt-3">
    <div class="col-md-2">
        <h3 class="ml-2">後台管理</h3>
        <ul class="list-group">
            <li class="list-group-item m-0"><a href="/admin/products">商品列表</a></li>
            <li class="list-group-item m-0"><a href="/admin/orders">訂單列表</a></li>
            <li class="list-group-item m-0"><a href="/admin/authority">權限管理</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        {{> message}}
        <table class="table table-info table-striped">
            <thead>
            <tr>
                <th scope="col" class="text-center">Id</th>
                <th scope="col" class="text-center">Email</th>
                <th scope="col" class="text-center">權限</th>
                <th scope="col" class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>

            {{#each users}}
                <tr style="height: 80px">
                    <td class="text-center align-middle">{{this.id}}</td>
                    <td class="text-center align-middle">{{this.email}}</td>
                    <td class="text-center align-middle">{{this.role}}</td>
                    <td class="text-center align-middle">
                        {{#equal ../user.id this.id}}
                        {{else}}
                            {{#equal this.role 'user'}}
                                <form action="/admin/authority/{{this.id}}" method="POST">
                                    <button type="submit" class="btn btn-danger" onclick="return confirmAuthAdmin()">change to ADMIN</button>
                                </form>
                            {{else}}
                                <form action="/admin/authority/{{this.id}}" method="POST">
                                    <button type="submit" class="btn btn-warning" onclick="return confirmAuthUser()">change to User</button>
                                </form>
                            {{/equal}}
                        {{/equal}}
                    </td>
                </tr>
            {{/each}}

            </tbody>
        </table>
    </div>
</div>
