<div class="mt-5">
    {{>message}}
    <div class="d-flex justify-content-center mt-5 mb-3">
        <div>
            <span class="step step-now">Step1</span>
            <div class="mt-3 ml-2">購物車</div>
        </div>
        <div class="line"></div>
        <div>
            <span class="step mb-3">Step2</span>
            <div class="mt-3">填寫資料</div>
        </div>
        <div class="line"></div>
        <div>
            <span class="step mb-3">Step3</span>
            <div class="mt-3 mr-3">成立訂單</div>
            <div class="ml-2">&付款</div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">商品資訊</th>
            <th scope="col" class="text-center">商品名稱</th>
            <th scope="col" class="text-center">單件價格</th>
            <th scope="col" class="text-center">數量</th>
            <th scope="col" class="text-center">小計</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {{#each cart.items}}
            <tr>
                <td>
                    <div style="width: 100px; height: 100px">
                        <img src="{{this.image}}" alt="{{this.name}}" >
                    </div>
                </td>
                <td class="text-center align-middle">
                    <h4>{{this.name}}</h4>
                </td>
                <td class="text-center align-middle">
                    <div>$ {{this.price}}</div>
                </td>
                <td class="align-middle">
                    <div class="d-flex justify-content-center align-items-center">
                        <form action="/cartItem/{{this.CartItem.id}}/add" method="POST">
                            <button type="submit" class="btn btn-sm btn-outline-secondary">+</button>
                        </form>
                        <span class="mx-3">{{this.CartItem.quantity}}</span>
                        <form action="/cartItem/{{this.CartItem.id}}/sub" method="POST">
                            <button type="submit" class="btn btn-sm btn-outline-secondary">-</button>
                        </form>
                    </div>
                </td>
                <td class="text-center align-middle">$ {{multiply this.price this.CartItem.quantity}}</td>
                <td class="text-center align-middle">
                    <form action="/cartItem/{{this.CartItem.id}}?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-link" style="color: red;">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {{/each}}
        <tr>
            <td></td>
            <td></td>
            <td style="text-align: right;">
                <h2>Total: </h2>
            </td>
            <td>
                <h2>$ {{totalPrice}}</h2>
            </td>
            <td>
                <a href="/order/data" class="btn btn-outline-custom">下一步 : 填寫資料</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
